[tool.poetry]
name = "anymotion-sdk"
version = "1.2.3"
description = "AnyMotion SDK for Python"
authors = ["Yusuke Kumihashi <y_kumiha@nttpc.co.jp>"]
readme = "README.md"
license = "MIT"
repository = "https://github.com/nttpc/anymotion-python-sdk"
homepage = "https://github.com/nttpc/anymotion-python-sdk"
classifiers = [
    "License :: OSI Approved :: MIT License",
    "Programming Language :: Python :: 3.6",
    "Programming Language :: Python :: 3.7",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9"
]

[tool.poetry.dependencies]
python = "^3.6"
requests = "^2.22.0"
opencv-python = [
    { version = "~4.2", python = "~3.6", optional = true },
    { version = "^4.4", python = ">3.6", optional = true }
]

[tool.poetry.extras]
cv = ["opencv-python"]

[tool.poetry.dev-dependencies]
bandit = "^1.6.2"
black = "^20.8b1"
coverage = "^5.3"
flake8 = "^3.8.4"
flake8-bugbear = "^20.1.4"
flake8-docstrings = "^1.5.0"
isort = "^5.6"
mypy = "^0.790"
pytest = "^6.1"
pytest-cov = "^2.10.1"
pytest-mock = "^3.3.1"
pre-commit = { version = "^2.8", python = "^3.6.1" }
requests-mock = "^1.7.0"
tox = "^3.20"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
